<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="REPLACE_WITH_GOOGLE_SEARCH_CONSOLE_TOKEN">
  {%- seo -%}
  <meta name="description" content="Official website of Jay Verma Trivedi, astrophysics researcher working on gravitational collapse, cosmic censorship, and observational signatures of extreme gravity.">
  <meta name="author" content="Jay Verma Trivedi">
  <meta name="robots" content="index,follow,max-image-preview:large,max-snippet:-1,max-video-preview:-1">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Jay Verma Trivedi",
    "url": "{{ '/' | absolute_url }}",
    "sameAs": [
      "https://orcid.org/0000-0002-8064-082X",
      "https://www.linkedin.com/in/jay-verma-trivedi-306614140",
      "https://github.com/jayvermatrivedi",
      "https://arxiv.org/search/?searchtype=author&query=Trivedi%2C+J+V",
      "https://medium.com/@jayverma4455"
    ],
    "jobTitle": "Astrophysics Researcher",
    "affiliation": {
      "@type": "CollegeOrUniversity",
      "name": "Ahmedabad University"
    },
    "knowsAbout": [
      "General Relativity",
      "Gravitational Collapse",
      "Naked Singularities",
      "Black Hole Astrophysics",
      "Cosmic Censorship"
    ]
  }
  </script>
</head>
